@page "/Curriculo"

<PageTitle>Curriculo</PageTitle>


<header>
    <h1>Roberta Lima Lopes Castellan</h1>
    <p>Estudante de Informática</p>
    <p>Contato: (69) 99397050 / email: limalopescastellanr@gmail.com</p>

</header>

<section id="resumo">
    <h2>Resumo</h2>
    <p>Sou estudante do IFRO - Campus Ji-Paraná, no curso técnico em Informática.
        Me identifico mais com a área de manutenção e instalação de computadores.
        Também sou apaixonado por esportes. Nos momentos livres gosto de estar com a família, 
        jogar online e assistir séries.</p>
</section>

<section id="habilidades">
    <h2>Habilidades</h2>
    <ul>
        <li>Montagem e manutenção de computadores</li>
        <li>Lógica de programação</li>
        <li>Trabalho em equipe</li>
        <li>Organização e comprometimento</li>
    </ul>
</section>

<section id="formacao">
    <h2>Formação Acadêmica</h2>
    <p>Curso Técnico em Informática - IFRO (em andamento)</p>
</section>

<section id="experiencia">
    <h2>Experiência</h2>
    <p>Atualmente busco oportunidades para ganhar experiência prática na área de informática, 
        especialmente com montagem, manutenção de computadores e suporte técnico. Também participei de 
        projetos escolares em grupo, desenvolvendo sistemas simples e aprendendo a lidar com prazos e 
        colaboração.</p>
</section