@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! Roberta !!</h1>

<h3>Bem vindo ao meu primeiro App Web com C# Blazor do 3°rão - B</h3>

<SurveyPrompt Title="How is Blazor working for you?" />
