@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h1>Informacões sobre o autor</h1>
<h3>Nome: Roberta Lima Lopes Castellan</h3>
<h3>Idade: 17 anos</h3>
<h5>
    Sou estudante do IFRO Campus Ji-Paraná, no curso técnico em Informática.
    Ao entrar no IFRO, na área de Informática, logo pensei que iria gostar muito da área, mas acabei me
    interessando mais pela parte de manutenção e instalação, que não é muito abordada no curso, pois ele
    é focado mais em programação oque me fez perder um pouco de interrese pela área. Sou uma pessoa 
    que gosta muito de praticar esportes em geral, mas o meu preferido é o futsal. Jogo em campeonatos 
    desde os meus 12 anos e sou muito apaixonado por esse esporte. No meu tempo livre,
    gosto de estar com as pessoas que amo, além de jogar jogos online e assistir séries.
</h5>



